/* Reset universal para evitar márgenes y paddings inesperados */
    *,
    *::before,
    *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html,
    body {
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6; /* Gray-100 */
    }

    /* Contenedor principal */
    .seleccionar-rol-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #003e81;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    z-index: 1;
    }

    .seleccionar-rol-container::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    background: linear-gradient(270deg,#e5007d,#6300e5,#0057b7, #e5007d, #6300e5,#0057b7, #e5007d, #6300e5,#0057b7, #e5007d);
    background-size: 1000% 1000%;
    animation: rave-bg 12s ease-in-out infinite;
    opacity: 1;
    pointer-events: none;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    }

    @keyframes rave-bg {
    0% {background-position: 0% 50%;}
    25% {background-position: 50% 100%;}
    50% {background-position: 100% 50%;}
    75% {background-position: 50% 0%;}
    100% {background-position: 0% 50%;}
    }
    /* Título */
    .seleccionar-rol-title {
    font-size: 2rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 2rem;
    animation: fadeInUp 0.6s ease-out;
    text-align: center;
    }

    /* Animación */
    @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    }

    /* Botones */
    .seleccionar-rol-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    max-width: 400px;
    }

    .seleccionar-rol-button {
    padding: 1rem;
    border-radius: 3rem;
    border-color: #003e81;
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    background-color: #0057b7;
    box-shadow: 0 4px 16px 0 rgba(255,255,255,0.35), 0 2px 8px 0 rgba(255,255,255,0.19);
    display: block;
    }

    .seleccionar-rol-button:hover,
    .docente-button:hover,
    .gestor-button:hover {
        background-color: #0057b7;
        background-image: none;
        box-shadow: 0 6px 20px 0 rgba(255,255,255,0.45), 0 2px 8px 0 rgba(255,255,255,0.19);
        transform: scale(1.05);
    }

    .seleccionar-rol-button:active {
    transform: scale(0.95);
    }

    .docente-button {
    background: linear-gradient( 90deg,#0057b7, #6300e5, #e5007d);
    }

    .docente-button:hover {
    background-color: #0057b7;
    }

    .gestor-button {
    background: linear-gradient( 90deg,#0057b7, #6300e5, #e5007d);
    }

    .gestor-button:hover {
    background-color: #6300e5;
    }
