.color-navbar {
    background-color: #ffd700 !important;
    background-image: linear-gradient(90deg, #ffd700 0%, #e5007d 46%, #0057b7 100%);
    }

    
    .color-texto-marca {
        color: #1e3d87 !important;
    }